<div id="<%= dom_id horario %>">
  <p>
    <strong>Día:</strong>
    <%= horario.dia %>
  </p>

  <p>
    <strong>Desde:</strong>
    <%= horario.desde %>
  </p>

  <p>
    <strong>Hasta:</strong>
    <%= horario.hasta %>
  </p>

</div>